  <%- include('../partials/head') %> 

  <link rel='stylesheet' href='/stylesheets/registro.css' />
  <link rel='stylesheet' href='/stylesheets/common.css' />
  <link rel='stylesheet' href='/stylesheets/social.css' />
  <link rel='stylesheet' href='/stylesheets/header.css' />
  <link rel='stylesheet' href='/stylesheets/footer.css' />

</head>
  <body>
    <%- include('../partials/social') %> 
    <%- include('../partials/header') %> 
    <%- include('../partials/errors') %> 
    <script src="/scripts/register.js"></script>

    
    <form name='form' action="/auth/register" class="register-site" method="POST" enctype="multipart/form-data">
      <h1>CREÁ TU CUENTA</h1>
      <div class="login-box">
        <div class="login-input" id="userbox">
          <i class="fas fa-user"></i>
          <input
            type="text"
            name="user"
            id="user"
            placeholder="Nombre de Usuario"
          />
          <p><%= typeof errors == 'undefined' ? '' : errors.user ? errors.user.msg : '' %></p>
        </div>

        <div class="login-input">
          <i class="fas fa-lock"></i>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
          />
          <p><%= typeof errors == 'undefined' ? '' : errors.email ? errors.email.msg : '' %></p>
        </div>

        <div class="login-input">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
          />
          <p><%= typeof errors == 'undefined' ? '' : errors.password ? errors.password.msg : '' %></p>
        </div>

        <div class="login-input">
         
          <label for="image">image</label>
          <input type="file"
            name="image"
            id="image"
            
          />
        </div>

        <!-- <div class="Remember">
          <input class="check" type="checkbox" name="termsnconds" id="termsnconds" value="termsnconds"/>Acepto los
          <a href="#">Términos y Condiciones</a>
        </div> -->

        <input type="submit" value="Confirmar" class="button" onclick='validateForm()' />

        <hr />
        <p><a href="/auth/login">Ya tengo una cuenta</a><br /></p>
      </div>
    </form>
   
  </body>
  <%- include('../partials/footer') %> 
</html>
