<%- include('../partials/head') %> 

<div class="cover"><img src="/images/VOU.jpg" alt=""></div>
  <section class="section p-2">

    <h1 class="p-1">HEROES DATABASE</h1>
    <hr>

    <%- include('../partials/search') %> 

    <div class="d-flex f-row f-wrap j-arround">

      <%- include('../partials/heroArticles') %> 
    </div>

    <div class="p-2">
      <a href="/products/create">  <h1 class="c-3d3d3d transform">NEW SUPE IN THE NEIGHBORHOOD? ADD HIM HERE</h1></a>
    </div>

  </section>
</div>

  <%- include('../partials/backButton')%> 
  <%- include('../partials/footer') %> 

</body>
</html>