
<%- include('../partials/head') %> 

<link rel='stylesheet' href='/stylesheets/header.css' />
<link rel='stylesheet' href='/stylesheets/social.css' />
<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/stylesheets/footer.css' />

</head>
<body>

<%- include('../partials/social') %> 
<%- include('../partials/header') %> 


<div>
  <img src="/images/cover.jpeg" width="100%" alt="">
</div>


<div class="d-flex column">
  <div class="title padding-title-1">RECIEN LLEGADOS</div>
  <div class="paragraph">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
    voluptatem omnis expedita consequatur ab. Ipsa neque dolore perferendis
    sint vel consequatur velit omnis consequuntur! Nam, ea corporis?
    Tenetur, culpa consectetur!
  </div>
 

  <div class="d-flex margin-img row space-ar">
    
    <article>
      <img class="auto-w" src="images/image.png" />
      <h1>PRODUCTO1</h1>
    </article>


    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>


  </div>
</div>



<div class="d-flex column bg-lgray">
  <div class="title padding-title-1">PRODUCTOS PROMOCIONADOS</div>
  <div class="paragraph">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
    voluptatem omnis expedita consequatur ab. Ipsa neque dolore perferendis
    sint vel consequatur velit omnis consequuntur! Nam, ea corporis?
    Tenetur, culpa consectetur!
  </div>
  <!-- ============IMAGES NEED WORK====================!!!!!!!! -->
  <div class="d-flex margin-img row space-ar">
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
  </div>
  <div class="center margin-button">
    <button type="button" class="button">VER TODOS</button>
  </div>
</div>
<div class="first-bg d-flex title padding-title-1 column">
  <div class="title padding-title-1">BUSCÁ TU FIT</div>
  <div class="paragraph">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
    voluptatem omnis expedita consequatur ab. Ipsa neque dolore perferendis
    sint vel consequatur velit omnis consequuntur! Nam, ea corporis?
    Tenetur, culpa consectetur!
  </div>
  <div>
    <button type="button" class="button">EMPEZAR</button>
  </div>
</div>
<div class="d-flex column">
  <div class="title padding-title-1">PROMOCIONES</div>
  <div class="paragraph">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
    voluptatem omnis expedita consequatur ab. Ipsa neque dolore perferendis
    sint vel consequatur velit omnis consequuntur! Nam, ea corporis?
    Tenetur, culpa consectetur!
  </div>
  <!-- ============IMAGES NEED WORK====================!!!!!!!! -->
  <div class="d-flex margin-img row space-ar">
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
  </div>
  <div class="d-flex margin-img row space-ar">
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
  </div>
  <div class="center margin-button">
    <button type="button" class="button center">VER TODOS</button>
  </div>
</div>
<div class="d-flex column bg-lgray">
  <div class="title padding-title-1">¿COMO FUNCIONA?</div>
  <div class="d-flex margin-img row space-ar">
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
  </div>
  <div class="paragraph">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
    voluptatem omnis expedita consequatur ab. Ipsa neque dolore perferendis
    sint vel consequatur velit omnis consequuntur! Nam, ea corporis?
    Tenetur, culpa consectetur!
  </div>
  <div class="center margin-button">
    <button class="button">QUIERO VENDER!</button>
  </div>
</div>
<div class="d-flex column">
  <div class="title padding-title-1">PROXIMOS INGRESOS</div>
  <div class="paragraph">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
    voluptatem omnis expedita consequatur ab. Ipsa neque dolore perferendis
    sint vel consequatur velit omnis consequuntur! Nam, ea corporis?
    Tenetur, culpa consectetur!
  </div>
  <!-- ============IMAGES NEED WORK====================!!!!!!!! -->
  <div class="d-flex margin-img row space-ar">
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
  </div>
  <div class="center margin-button">
    <button type="button" class="button">VER TODOS</button>
  </div>
</div>
<div class="title padding-title-1 bg-lgray">
  SUSCRIBITE A NUESTRO NEWSLETTER
</div>

<%- include('../partials/backButton') %> 
<%- include('../partials/footer') %> 
</body>
</html>
