<%- include('../partials/head') %>

<link rel='stylesheet' href='/stylesheets/header.css' />
<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/stylesheets/footer.css' />
<link rel='stylesheet' href='/stylesheets/listing.css' />

</head>

<body>
  <%- include('../partials/social') %>
  <%- include('../partials/header') %>
  <div class="d-flex w-100 index-border-bottom">
    <img src="/images/croppedcover.png" width="100%" alt="">
  </div>
  <div class="d-flex column">
    <div class="title padding-title-1"><h2>RECIEN LLEGADOS</h2></div>
    <div class="paragraph">
      <h3>Descubri lo nuevo que ingreso en MAG</h3>
    </div>
    <div class="d-flex margin-img row space-ar">
      <!-- <article>
      <img class="auto-w" src="images/bermuda_hombre.jpg" />
    </article> -->
      <%- include('../partials/indexListings') %>
      <%- include('../partials/indexListings') %>
      <!-- <article>
      <img class="auto-w" src="images/saco.jpg" />
    </article> -->
    </div>
  </div>
  <div class="d-flex column bg-light-blue">
    <div class="title padding-title-1"><h2>PRODUCTOS PROMOCIONADOS</h2></div>
    <div class="paragraph">
      <h3>Nuestra sugerencia para verte mejor</h3>
    </div>
    <div class="d-flex margin-img row space-ar">
      <%- include('../partials/indexListings') %>
      <%- include('../partials/indexListings') %>
      <%- include('../partials/indexListings') %>
      <!-- <article>
      <img class="auto-w" src="images/pantalon.jpg" />
      <div>Pantalon Hombre Marron</div>
    </article>
    <article>
      <img class="auto-w" src="images/botas.jpg" />
      <div>Botas Mujer Stark</div>
    </article>
    <article>
      <img class="auto-w" src="images/jean_azul.jpg" />
      <div>Jean Mujer Celeste</div>
    </article> -->
    </div>
    <!-- <div class="center margin-button">
    <button type="button" class="button">VER TODOS</button>
  </div> -->
  
  <div class="first-bg d-flex title column fit-bg">
    <div class="fit-margin h-100" id="busca-tu-fit">
    <div class="title padding-title-1"><h2>BUSCÁ TU FIT</h2></div>
    <div class="paragraph">
      Te damos los mejores consejos y combinaciones para que mejores tu look
    </div>
    <div>
      <a href="/products"><button type="button" class="button">EMPEZAR</button></a>
    </div>
  </div>  
</div>
  <div class="d-flex column bg-light-blue">
    <div class="title padding-title-1"><h2>VER TODOS LOS PRODUCTOS</h2></div>
    <div class="paragraph">
      <h3>Aprovechá todas las promociones y descuentos que tenemos para ofrecerte</h3>
    </div>
    <div class="d-flex margin-img row space-ar">
      <%- include('../partials/indexListings') %>
      <%- include('../partials/indexListings') %>
      <!-- <article>
      <img class="auto-w" src="images/zapatillas.jpg" />
      <div>Zapatillas Mujer</div>
    </article>
    <article>
      <img class="auto-w" src="images/buzo_nino.jpg" />
      <div>Buzo Niño</div>
    </article> -->
    </div>
    <div class="d-flex margin-img row space-ar">
      <%- include('../partials/indexListings') %>
      <%- include('../partials/indexListings') %>
      <%- include('../partials/indexListings') %>
      <!-- <article>
      <img class="auto-w" src="images/chomba_nino.jpg" />
      <div>Chomba Niño</div>
    </article>
    <article>
      <img class="auto-w" src="images/pantalon_babucha.jpg" />
      <div>Pantalon Babucha Hombre</div>
    </article>
    <article>
      <img class="auto-w" src="images/buzo_canguro.jpg" />
      <div>Buzo Canguro Hombre</div>
    </article> -->
    </div>
    <div class="center margin-button"><a href="/products">      <button type="button" class="button center">VER TODOS</button>
</a>
    </div>
  </div>
  <!-- <div class="d-flex column bg-lgray">
  <div class="title padding-title-1">¿COMO FUNCIONA?</div>
  <div class="d-flex margin-img row space-ar">
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>Imagen del ciclo de adquisicion, stock y venta</div>
    </article>
  </div>
  <div class="paragraph">
    Podes vender con nosotros por prenda o lote, si tenes mas de una.Nosotros nos encargamos de retirar y publicar la vestimenta que desees vender, previo a una evaluacion de nuestro staff y que hayamos pactado un precio de venta.  
  </div>
  <div class="center margin-button">
    <button class="button">QUIERO VENDER!</button>
  </div>
</div> -->
  <!-- <div class="d-flex column bg-light-blue">
  <div class="title padding-title-1">PROXIMOS INGRESOS</div>
  <div class="paragraph">
    Conoce lo nuevo que esta por llegar a MAG
  </div>
  <div class="d-flex margin-img row space-ar">
    <article>
      <img class="auto-w" src="images/camisa_hombre.jpg" />
      <div>Camisa Celeste Hombre</div>
    </article>
    <article>
      <img class="auto-w" src="images/pantalon_fit.jpg" />
      <div>Pantalon Cargo Hombre</div>
    </article>
    <article>
      <img class="auto-w" src="images/pantalon_nino.jpg" />
      <div>Pantalon Niño</div>
    </article>
  </div>
  <div class="center margin-button padding-title-1">
    <button type="button" class="button">VER TODOS</button>
  </div>
</div> -->
<%- include('../partials/backButton') %>
  <div class="title padding-title-1 bg-lgray">
    SUSCRIBITE A NUESTRO NEWSLETTER
  </div>

  
  <%- include('../partials/footer') %>
</body>

</html>