<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<link rel='stylesheet' href='/stylesheets/header.css' />
<link rel='stylesheet' href='/stylesheets/productCreate.css' />
<!-- <link rel="stylesheet" href="/stylesheets/Product.css"> -->
<link rel='stylesheet' href='/stylesheets/footer.css' />
<link rel='stylesheet' href='/stylesheets/common.css' />

</head>

<body>
  <%- include('../partials/social') %>
  <%- include('../partials/header') %>
  <script>
    function validateForm() {
      var category = document.form.category.value;
      var name = document.form.name.value;
      var description = document.form.description.value;
      var brand = document.form.brand.value;
      var price = document.form.price.value;
      var gender = document.form.gender.value;

      if (category == '' || category == 'Elegi' || category == null) {
        alert('Seleccione una categoria')
        return false;
      } else if (name.length < 4) {
        alert('El nombre debe tener por lo menos 4 caracteres')
        return false;
      } else if (name.length > 24) {
        alert('El nombre debe tener un maximo de 24 caracteres')
        return false;
      } else if (isNaN(price)) {
        alert('Solo se aceptan numeros en el precio')
        return false;
      } else if (description.length < 32) {
        alert('La descripcion debe tener un minimo de 32 caracteres')
        return false;
      } else if (description.length > 255) {
        alert('La descripcion debe tener un maximo de 255 caracteres')
        return false;
      }
    }

    let form = document.querySelector("form")

    form.addEventListener('submit', e => {
      e.preventDefault();

      validateForm();
    })
  </script>
  <main>
    <form name='form' action="/products" method="POST" id='form' enctype="multipart/form-data" onsubmit='return validateForm()'>

      <div class="d-flex justify-center bg-image">
        <div class="fancy-border align-center d-flex justify-center column bg-white">
          <div class="title-agregar"> Agregar nuevo Producto</div>

          <!-- <div>
            <select class="create-field" name="category" id="category">
              <option value="" selected disabled>Categoria</option>
              <% categories.forEach(category => { %>
              <option value="<%= category.id %>"><%= category.category %></option>
              <% }) %>
            </select>
          </div> -->

          <div>
            <select class="create-field" name="category" id="category">
              <option value="" selected disabled>Categoria</option>
              <% for (let i = 0; i < categories.length; i++) { %>
              <option value="<%= categories[i].id %>"><%= categories[i].category %></option>
              <% } %>
            </select>
          </div>

          <div>
            <select class="create-field" name="brand" id="brand">
              <option value="" selected disabled>Marca</option>
              <% brands.forEach(brand => { %>
              <option value="<%= brand.id %>"><%= brand.brand %></option>
              <% }) %>
            </select>
          </div>

          <div>
            <select class="create-field" name="gender" id="gender">
              <option value="" selected disabled>Genero</option>
              <% genders.forEach(gender => { %>
              <option value="<%= gender.id %>"><%= gender.gender %></option>
              <% }) %>
            </select>
          </div>

          <div>
            <input class="create-field" type="text" name="name" id="name" placeholder="Ej: Camiseta Linda"
              value="<%= typeof old != 'undefined' ? old.name : '' %>">
            <p style="color: red; font-size: 12px;">
              <%= typeof errors == 'undefined' ? '' : errors.name ? errors.name.msg : '' %></p>
          </div>

          <div>
            <textarea class="create-field" name="description" id="description" cols="25"
              rows="4"><%= typeof old != 'undefined' ? old.description : '' %></textarea>
            <p style="color: red; font-size: 12px;">
              <%= typeof errors == 'undefined' ? '' : errors.description ? errors.description.msg : '' %></p>
          </div>

          <div>
            <input class="create-field" type="text" name="price" id="price" placeholder="Ej: 4560"
              value="<%= typeof old != 'undefined' ? old.price : '' %>">
            <p style="color: red; font-size: 12px;">
              <%= typeof errors == 'undefined' ? '' : errors.price ? errors.price.msg : '' %></p>
          </div>

          <div>
            <input type="file" id="image" name="image">
            <p style="color: red; font-size: 12px;">
              <%= typeof errors == 'undefined' ? '' : errors.image ? errors.image.msg : '' %></p>
          </div>

          <div class="d-flex button-create-space">
            <button type="submit" class="button2" id="button-submit">Agregar</button>
            <button type="reset" class="button2" id="button-reset">Restaurar Campos</button>
          </div>

        </div>
      </div>
    </form>
  </main>

  <%- include('../partials/footer') %>

</body>

</html>