<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Producto.css">
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">


    <title>Document</title>
</head>
<body>
    <%- include('../partials/social') %> 
    <%- include('../partials/header') %> 
    
    
<div class="d-flex product-box">

    <div class=" d-flex f-column img-column">

        <div class="miniature"><img src="/images/remera.jpg" alt=""></div>
        <div class="miniature"><img src="/images/remera2.jpg" alt=""></div>
        <div class="miniature"><img src="/images/remera3.jpg" alt=""></div>
        <div class="miniature"><img src="/images/remera4.jpg" alt=""></div>
        <div class="miniature"><img src="/images/remera.jpg" alt=""></div>
        

    </div>
    
    <div class="img-box d-flex" >
        <img src="/images/remera.jpg" alt="">
    </div>

    <div class="detail-box w-40">
        <p>Catálogo / Categoría / Producto</p>
        <h1><%= product.name %></h1>
        <h1>$<%= product.price %></h1>
        <h3>Disponible: 2 unidades (WIP)</h3>
        <% for (let i= 0; i < product.variant.length; i++) {%>
        <h3><%=product.variant[i].size%></h3>
        <% } %>
        <p><h3 class="product-quality">Calidad: 
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <i class="far fa-star"></i>(WIP)</h3></p>
      

        <h4>Descripción</h4>
        <p><%= product.description %>.</p>

        <a href="/cart"><button class="button">COMPRAR</button></a>
        <BUtton Class="button">OFERTAR</BUtton>
        <button class="button">OFRECER</button>
    </div>

   

</div>


<hr>

<div class="d-flex chat-box">
    
<h1>PREGUNTAS</h3>
<div class="chat-client">
    <p>Hola, Me pueden pasar la medida del cuello</p>
</div>

<div class="chatAuthor">
    <p>Hola, las medidas del cuello son 36cm!</p>
</div>
<div class="chat-client">
    <p>Hola, Me pueden pasar la medida del cuello</p>
</div>
<div class="chatAuthor">
    <p>Hola, las medidas del cuello son 36cm!</p>
</div>
<div class="chat-client">
    <p>Hola, Me pueden pasar la medida del cuello</p>
</div>
<div class="chatAuthor">
    <p>Hola, las medidas del cuello son 36cm!</p>
</div>

<form action="">
    <h3>REALIZÁ TU CONSULTA</h3>
    <textarea name="" id="" cols="250" rows="5" class="comment" placeholder="¿Cuál es tu consulta?"></textarea>
    <button class="form-button">ENVIAR</button>    
</form>
<form action="/products/<%=product.id%>/delete" method=POST>
    <button type="submit">Borrar</button>
</form>

</div>
<hr>
<%- include('../partials/footer') %> 

</body>
</html>