<%- include('../partials/head') %> 
    <body>
      <%- include('../partials/social') %> 
      <%- include('../partials/header') %>      
<section>

    <form action="/products/PENDIENTE/refresh?_method=PUT" method="POST">
asdasdasd
</form>

</section>

<%- include('../partials/backButton') %> 
  <%- include('../partials/footer') %> 
    </body>
  </html>