<%- include('../partials/head') %>

<link rel='stylesheet' href='/stylesheets/social.css' />
<link rel='stylesheet' href='/stylesheets/header.css' />
<link rel='stylesheet' href='/stylesheets/listing.css' />
<link rel='stylesheet' href='/stylesheets/footer.css' />
<link rel='stylesheet' href='/stylesheets/common.css' />

</head>

<body>
  <%- include('../partials/social') %>
  <%- include('../partials/header') %>
  <section class="section">
    <form action="/products" method="get">
    <div class="d-flex f-row mar-10">
      <div class="w-20">
        <div class="filter-nav-div">
          <button type="submit" class="button-filter">Aplicar</button>
        </div>
        <%- include('../partials/categories', {CatSELECTOR: CategoryFilter, CHECK: '1', TITLE: 'Categorias'}) %>
        <%- include('../partials/categories', {CatSELECTOR: GenderFilter, CHECK: '2', TITLE: 'Generos de Ropa'}) %>
        <%- include('../partials/categories', {CatSELECTOR: BrandFilter, CHECK: '3', TITLE: 'Marcas'}) %> 
      </div>
      <div class="w-80">
        <div>
          <div class="d-flex f-row f-wrap j-arround">
            <%- include('../partials/productListings') %>
          </div>
        </div>
      </div>
      
    </div>
  </form>
  </section>
  <%- include('../partials/footer') %>
</body>

</html>